
.div {
  align-items: center;
  background-color: #030201;
  display: flex;
  /* padding-top: 48px; */
  flex-direction: column;
}
.div-2 {
  align-items: center;
  border-radius: 32px;
  /* box-shadow: 0px 770px 216px 0px rgba(245, 165, 71, 0),
    0px 493px 197px 0px rgba(245, 165, 71, 0.01),
    0px 277px 166px 0px rgba(245, 165, 71, 0.05),
    0px 123px 123px 0px rgba(245, 165, 71, 0.09),
    0px 31px 68px 0px rgba(245, 165, 71, 0.1),
    0px 0px 0px 0px rgba(245, 165, 71, 0.1); */
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-3 {
  align-self: stretch;
  display: flex;
  gap: 3px;
  justify-content: space-between;
  margin: auto 0;
}

.img-2 {
  aspect-ratio: 3.33;
  object-fit: auto;
  object-position: center;
  width: 77px;
  align-self: start;
}
.div-4 {
  align-self: stretch;
  display: flex;
  gap: 20px;
  font-size: 16px;
  justify-content: space-between;
  margin: auto 0;
}
.div-5 {
  color: #717171;
  font-family: Inter Tight, sans-serif;
  font-weight: 400;
}
.div-6 {
  color: #f5a547;
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
}
.div-7 {
  justify-content: center;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  /* box-shadow: 0px 4px 22px 0px rgba(245, 165, 71, 0.23),
    0px 0px 0px 1px #de9137; */
  background-color: #f5a547;
  align-self: stretch;
  color: #fff;
  padding: 10px 32px;
  font: 500 18px Inter Tight, sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    padding: 0 20px;
  }
}
.img-3 {
  aspect-ratio: 4.17;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 80px;
  max-width: 1200px;
  z-index: 8;
}
@media (max-width: 991px) {
  .img-3 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-8 {
  align-items: center;
  display: flex;
  margin-top: 84px;
  width: 95%;
  max-width: 1200px;
  font-size: 46px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 120%;
  justify-content: center;
  padding: 0 60px;
}
@media (max-width:600px){
  .img-3{
    aspect-ratio: 1.92;
    margin-top: 40px;
    max-width: 343px;
}


.div-8{
  width: 90%;
}
.dotted-img-mobile{
  top: 7% !important;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


 .div-13,.div-16,.div-19,.div-24,.div-27{
  width: 90% !important;
}
.div-22{
  margin-top: 15px !important;
  width: 100% !important; 
}
.div-24{
  margin-top: 0px !important;
}
.div-11{
  padding: 0px !important;
}
.column-2, .column-3, .column-5{
  margin-left: 0px !important;
}
.column-4,.column-5{
  width: 90% !important;
}
.div-23{
  align-items: center !important;
  width: 100%;
}
.div-12{
  align-items: center;
}
.img-8{
  aspect-ratio: 2.23 !important;
}

}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    padding: 0 20px;
  }
}
.div-9 {
  display: flex;
  width: 868px;
  max-width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-9 {
    font-size: 40px;
  }
}
.img-4 {
  aspect-ratio: 1.75;
  object-fit: auto;
  object-position: center;
  width: 49px;
  align-self: center;
}
.div-10 {
  text-align: center;
  font: 600 60px/72px 'Inter Tight', -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 32px;
}
.hit {
  color: rgba(255, 255, 255, 1) !important;
}

.now {
  background: linear-gradient(91deg, #f5a547 0.85%, #cb71f2 52.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-11 {
  margin-top: 116px;
  width: 100%;
  display: flex;
  justify-content: center;

}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-12 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-12 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
  z-index: 8;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-13 {
  align-self: stretch;
  border-radius: 24px;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #202020;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
@media (max-width: 991px) {
  .div-13 {
    margin-top: 16px;
  }
}
.img-5 {
  aspect-ratio: 1.92;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
}
.div-14 {
  color: #fff;
  margin-top: 13px;
  font: 500 18px/120% Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-15 {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 13px;
  font: 400 16px/24px Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
  z-index: 8;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-16 {
  border-radius: 24px;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #202020;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
@media (max-width: 991px) {
  .div-16 {
    margin-top: 16px;
  }
}
.img-6 {
  aspect-ratio: 1.96;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
}
.div-17 {
  color: #fff;
  margin-top: 13px;
  font: 500 18px/120% Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-18 {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 13px;
  font: 400 16px/24px Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
  z-index: 8;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-19 {
  border-radius: 24px;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #202020;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
@media (max-width: 991px) {
  .div-19 {
    margin-top: 16px;
  }
}
.img-7 {
  aspect-ratio: 1.92;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
}
.div-20 {
  color: #fff;
  margin-top: 13px;
  font: 500 18px/120% Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-21 {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 13px;
  font: 400 16px/24px Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-22 {
  margin-top: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
  }
}
.div-23 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-23 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-24 {
  border-radius: 24px;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #202020;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
    margin-top: 16px;
  }
}
.img-8 {
  aspect-ratio: 3.23;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
  }
}
.div-25 {
  color: #fff;
  margin-top: 13px;
  font: 500 18px/120% Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
  }
}
.div-26 {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 13px;
  font: 400 16px/24px Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-27 {
  align-self: stretch;
  border-radius: 24px;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #202020;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
    margin-top: 16px;
  }
}
.img-9 {
  aspect-ratio: 2.78;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(54, 54, 54, 1);
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 991px) {
  .img-9 {
    max-width: 100%;
  }
}
.div-28 {
  color: #fff;
  margin-top: 13px;
  font: 500 18px/120% Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
  }
}
.div-29 {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 13px;
  font: 400 16px/24px Inter Tight, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-29 {
    max-width: 100%;
  }
}
.dotted-img{
    position: absolute;
    top: 65% !important;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}