
<div class="div">
    <div class="div-5">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fb7cb89e44ef240f71fb1eb1139dfc059bc2bedb515cb9630584f86b6b3e4dbd?"
        class="img-3"
      />
      <div class="div-6">
        <div class="div-7">
         
          <div class="div-8">
            <span class="synq">Synq</span>
            <br />
            <span class="palmpay">PalmPay</span>
            <span class="synq"> is here!</span>
          </div>
          
          <div class="div-9">
            Synq revolutionizes payment processing through the integration of
            contactless palm readers with tablets.
          </div>
          <div class="synq-image">
            <img class="synq-image-class" src="../../../assets/Rectangle 107.png">
          </div>
         

          <div class="div-10">
            <div class="div-13">
              <img
                loading="lazy"
                src="../../../assets/user-icon.png"
                class="img-4"
              />
              <div class="div-12"><button class="btn-class" [routerLink]="['user']">Users Benefits</button> </div>
            </div>
            <div class="div-13">
              <img
                loading="lazy"
                src="../../../assets/business-icon.png"
                class="img-5"
              />
              <div class="div-14"><button class="btn-class" [routerLink]="['business']">Business Benefits</button></div>
            </div>
          </div>
          <img
            loading="lazy"
            src="../../../assets/appStore.png"
            class="img-6"
          />
        </div>
        <div class="div-15"  *ngIf="!isMobileView">
          <img
            loading="lazy"
            src="../../../assets/facebook.png"
            class="img-7"
          />
          <img
            loading="lazy"
            src="../../../assets/twitter.png"
            class="img-8"
          />
          <img
            loading="lazy"
            src="../../../assets/linkedin.png"
            class="img-9"
          />
          <img
            loading="lazy"
            src="../../../assets/instagram.png"
            class="img-10"
          />
        </div>
      </div>
    </div>
  </div>
